- if Feature.enabled?(:vue_issuables_list, @project)
  - data_endpoint = local_assigns.fetch(:data_endpoint, expose_path(api_v4_projects_issues_path(id: @project.id)))
  - default_empty_state_meta = { create_issue_path: new_project_issue_path(@project), svg_path: image_path('illustrations/issues.svg') }
  - data_empty_state_meta = local_assigns.fetch(:data_empty_state_meta, default_empty_state_meta)
  - type = local_assigns.fetch(:type, '')
  .js-issuables-list{ data: { endpoint: data_endpoint,
    'empty-state-meta': data_empty_state_meta.to_json,
    'can-bulk-edit': @can_bulk_update.to_json,
    'sort-key': @sort,
    'type': type } }
- else
  - empty_state_path = local_assigns.fetch(:empty_state_path, 'shared/empty_states/issues')
  %ul.content-list.issues-list.issuable-list{ class: ("manual-ordering" if @sort == 'relative_position') }
    = render partial: "projects/issues/issue", collection: @issues
    - if @issues.blank?
      = render empty_state_path

  - if @issues.present?
    = paginate @issues, theme: "gitlab", total_pages: @total_pages
